.panel-wrapper {
  h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .csv-list-wrapper {
    border: solid 1px #fff;
    margin-top: 16px;
    border-radius: 16px;
    padding: 8px 16px 16px;
    h2 {
      font-size: 1.5rem;
      margin: 16px 0;
    }
    form {
      padding: 8px;
      border-bottom: 1px solid #FFF;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    .name {
      margin-top: 16px;
    }
    .delete {
      border: none;
      padding: 10px 18px;
      cursor: pointer;
      border-radius: 5px;
      color: #FFF;
      background-color: #009cff;
      margin-left: 8px;
    }
  }
}