header {
  nav {
    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      li {
        margin-top: 8px;
        font-size: 1.0rem;
        padding: 16px;
      }
      a{
        padding: 16px;
      }
      a:hover {
        text-shadow: 0 0 20px rgba(255, 255, 0, 1);
        color: #BF7900;
      }
    }
  }
}
