.recent_wrap {
  display: none;
  text-align: center;
  .record-wrap {
    border: 1px solid #FFF;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 8px;
    .element{
      padding: 2px 0;
    }
    .record-second-elm-wrap {
      display: flex;
      flex-flow: column nowrap;
      .record-second-elm {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        .element {
          width: 24%;
        }
      }
      width: 50%;
      .select-level-box{
        color: #2E2F30;
        position: absolute;
        top: 20px;
        width: 150px;
        height: 100px;
        padding: 16px;
        margin-top: 16px;
        border-radius: 4%;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 2;
        display: none;
        flex-flow: column wrap;
        justify-content: space-between;
      }

      .element:hover .select-level-box {
        display: flex;
      }

      .level-radio-item{
        height: 25px;
        width: 100px;
        text-align: left;
      }

      .level:hover .level-search {
        display: flex;
      }
      .level-search {
        color: #2E2F30;
        position: absolute;
        top: 20px;
        width: 220px;
        height: 340px;
        padding: 16px;
        margin-top: 16px;
        border-radius: 4%;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 2;
        display: none;
        flex-flow: column wrap;
        justify-content: space-between;
        .level-search-item{
          height: 25px;
          width: 80px;
          text-align: left;
        }
      }

    }
    .record-first-elm {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      .version {
        width: 26%;
      }
      .title {
        width: 56%;
      }
      .num {
        width: 20%;
      }
      width: 42%;
      align-items: center;
    }
    .record-time {
      width: 8%;
      &-content{
        display: flex;
        align-items: center;
      }
    }

    .version:hover .version-search {
      display: flex;
    }
    .version-search {
      color: #2E2F30;
      position: absolute;
      top: 20px;
      width: 320px;
      height: 330px;
      padding: 16px;
      margin-top: 16px;
      border-radius: 4%;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 2;
      display: none;
      flex-flow: column wrap;
      justify-content: space-between;
      .version-search-item{
        height: 25px;
        width: 160px;
        text-align: left;
      }
    }
  }
  .record-head {
    font-size: 0.8rem;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    background-color: #101614;
    .click-area{
      width: 100%;
      height: 36px;
      position: absolute;
      top: 0;
    }
    .element{
      cursor: pointer;
      padding: 12px 0;
      position: relative;
    }
    //.element:hover{
    //  background-color: red;
    //}
    .title, .num, .level, .score, .miss, .clear, .dj, .record-time{
      .sort-icon{
        display: none;
      }
    }
  }
  #record-container{
    //TODO
    margin-top: 60px;
  }
  .sort-icon {
    height: 10px;
    width: 10px;
    top: 30px;
    right: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
  }

  .sort-icon-up:after {
    content: '';
    height: 0;
    width: 0;
    display: block;
    border: 5px transparent solid;
    border-top-width: 0;
    border-bottom-color: #FFF;
  }

  .sort-icon-down:before {
    content: '';
    height: 0;
    width: 0;
    display: block;
    border: 5px transparent solid;
    border-bottom-width: 0;
    border-top-color: #FFF;
    position: absolute;
  }
}

.record-head-wrap{
  width: 100%;
  max-width: 1280px;
  background-color: #101614;
  z-index: 2;
  height: 54px;
  position: absolute;
}
