.recent_wrap {
  text-align: center;
  .record-wrap {
    border: 1px solid #FFF;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: calc(100% - 18px);
    padding: 8px;
    .element{
      padding: 2px 0;
    }
    .record-by-level-wrap {
      display: flex;
      flex-flow: column nowrap;
      .record-by-level {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        .element {
          width: 24%;
        }
      }
      width: 50%;
    }
    .record-title {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      .click-area{
        width: 100%;
        height: 36px;
        position: absolute;
        top: 0;
      }
      .version {
        width: 26%;
        position: relative;
      }
      .title {
        width: 56%;
        position: relative;
      }
      .num {
        width: 20%;
        position: relative;
      }
      width: 42%;
      align-items: center;
      .element{
        padding: 12px 0;
      }
    }
    .record-time {
      width: 8%;
      &-content{
        display: flex;
        align-items: center;
      }
    }

    .version:hover .version-search {
      display: flex;
    }
    .version-search {
      color: #2E2F30;
      position: absolute;
      width: 320px;
      height: 330px;
      padding: 16px;
      margin-top: 16px;
      border-radius: 4%;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 2;
      display: none;
      flex-flow: column wrap;
      justify-content: space-between;
      .version-search-item{
        height: 25px;
        width: 160px;
        text-align: left;
      }
    }

    .title:hover .title-search{
      display: block;
    }
    .title-search{
      color: #2E2F30;
      position: absolute;
      width: 300px;
      height: 300px;
      background-color: rgba(255,255,255,0.9);
      z-index: 2;
      display: none;
      form{
        height: 300px;
        display: flex;
        flex-flow: column wrap;
      }
    }
  }
  .record-head {
    font-size: 0.8rem;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    width: 1262px;
    background-color: #101614;
    .element{
      cursor: pointer;
    }
    .title, .num{
      .sort-icon{
        display: none;
      }
    }
  }
  #record-container{
    margin-top: 54px;
  }
  .sort-icon {
    height: 10px;
    width: 10px;
    top: 30px;
    right: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
  }

  .sort-icon-up:after {
    content: '';
    height: 0;
    width: 0;
    display: block;
    border: 5px transparent solid;
    border-top-width: 0;
    border-bottom-color: #FFF;
  }

  .sort-icon-down:before {
    content: '';
    height: 0;
    width: 0;
    display: block;
    border: 5px transparent solid;
    border-bottom-width: 0;
    border-top-color: #FFF;
    position: absolute;
  }
}

.record-head-wrap{
  background-color: #101614;
  z-index: 2;
  height: 54px;
  position: absolute;
}
