body{
  background-color: rgb(16, 22, 20);
}
.wrapper{
  color: rgb(230, 230, 230);
  font-family: arial, sans-serif;
  max-width: 980px;
  margin: 0 auto;
}
.blue{
  color: #4E9BFF;
}
.yellow{
  color: #FFCE00;
}

.red{
  color: #FF2F2F;
}

a{
  text-decoration: none;
  color: rgb(230, 230, 230);
}
.content{
  margin-top: 32px;
}
